h1.a{
  text-align: center;
  font-family: courier new;
  color: black;
  position: relative;
  background: white;
}
ul{
  list-style-type: circle ;
  font-family: courier new;
 color: white;
} 
h3{
  font-family: courier new;
  color: white;
}
.projeto{ 
  color: black;
  background: white;
  position: relative;
  text-align: center;
}
body{
  background-color: black;
}

